/* Add Button */

.button_plus {
    position: relative;
    width: 35px;
    height: 35px;
    background: #fff;
    cursor: pointer;
    border: 2px solid #095776;
    margin-left: 0.5rem;

}

.button_plus:after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    height: 4px;
    width: 50%;
    background: #095776;
    top: 50%;
    left: 50%;
}

.button_plus:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #095776;
    height: 50%;
    width: 4px;
}

.button_plus:hover:before,
.button_plus:hover:after {
    background: #fff;
    transition: 0.2s;
}

.button_plus:hover {
    background-color: #095776;
    transition: 0.2s;
}

.add__timer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}


/* Close Button */

.leftright {
    height: 4px;
    width: 50px;
    position: absolute;
    margin-top: 24px;
    background-color: #119ba5;
    ;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
}

.rightleft {
    height: 4px;
    width: 50px;
    position: absolute;
    margin-top: 24px;
    background-color: #119ba5;
    ;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
}

label.container {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: .6em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .3s ease-in;
    opacity: 0;
}

.close {
    margin: 60px 0 0 5px;
    position: absolute;
    left: 66%;

}

.close.container:hover .leftright {
    transform: rotate(-45deg);
    background-color: #F25C66;
}

.close.container:hover .rightleft {
    transform: rotate(45deg);
    background-color: #F25C66;
}

.close.container:hover label {
    opacity: 1;
}

/* Delete Button */
.gg-trash {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow:
        0 0 0 2px,
        inset -2px 0 0,
        inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 4px;
    background-color: #095776;
}
.gg-trash::after,
.gg-trash::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.gg-trash::after {
    background: currentColor;
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px
}
.gg-trash::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px;
    background-color: #095776;
}
