
.date__section{
    margin: 2rem;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fdfdfd;
}

.date__form{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    align-items: center;
}

.date__label{
    color: black;
    margin: 0 0.5rem;
    font-size: 1.05rem;
}

.date__input{
    margin-right: 8%;
    font-size: 1.25rem;
}

.date__submit{
    text-align: center;
}

.date__button{
    background: #096B72;
    color: black;
    font-size: 1rem;
    padding: 1.25rem 3.5rem;
}

.date__button:hover{
    background: #48A9A6;
}

#hover__label {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

#hover__label .date__span {
    visibility: hidden;
    width: 300px;
    background-color: #2B2D42;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -150px;
}

#hover__label .date__span::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #2B2D42 transparent transparent transparent;
}

#hover__label:hover .date__span {
    visibility: visible;
}