body{
    font-family: 'Arvo', serif;
    background: #0B3C49;

}

.header{
    background: black;
}

.header__title{
    color: #fdfdfd;
    font-size: 2rem;
    padding: 1.25rem;
    margin-left: 5%;
}

.date__form{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    align-items: center;
}

.date__label{
    color: #fdfdfd;
    margin: 0 0.5rem;
    font-size: 1.05rem;
}

.date__input{
    margin-right: 8%;
    font-size: 1.25rem;
}

.date__submit{
    text-align: center;
}

.date__button{
    background: #E9F1F7;
    color: black;
    font-size: 1rem;
    padding: 1.25rem;
}

.timer{
    text-align: center;
    margin: 5% 0 7.5% 0;
}

.timer.container{
    display: inline-flex;
    flex-direction: row;   
    background: #096B72;
}

.timer__div{
    margin: 1rem;
    text-align: center;
}

.timer__paragraph{
    font-size: 3rem;
    color:#fdfdfd;

}

.timer__name{
    color: #fdfdfd;
}

.footer{
    background: black;
    height: 4rem;
}

#hover__label {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  #hover__label .date__span {
    visibility: hidden;
    width: 300px;
    background-color: #2B2D42;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -150px;
  }
  
  #hover__label .date__span::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #2B2D42 transparent transparent transparent;
  }
  
  #hover__label:hover .date__span {
    visibility: visible;
  }